body,
h1 {
    margin: 0;
}

body {
    background: #0f0f0f;
    font: normal 14px Georgia, "Times New Roman", Times, serif;
    width: 700px;
    margin: 0 auto;
}

body > div {
    float: left;
    background: #fff;
    padding: 20px;
    border-left: 4px solid #fa4500;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: #fff;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline;
}

h1 {
    border-left: 4px solid #fa4500;
    padding:0 0 4px 9px;
}

body > div,
h1 {
    margin: 30px 0 0 30px;
}

span.description {
    display: block;
    margin: 2px 0 0 46px;
}

span.copyright {
    float: right;
    color: #fff;
    margin-right: 30px;
}

#info {
    width: 200px;
}

#info code {
    display: block;
    margin: 10px 0;
}

#info .line {
    display: block;
}

#info .property {
    margin-left: 30px;
}

#textarea {
    display: block;
    width: 300px;
    height: 90px;
}

#char-start,
#char-end {
    width: 40px;
}